a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
.main_imp{
    z-index:0;
    position: absolute;
          top:0;
        left: 2;
        right: auto;
          opacity: 0.8;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    
  }
  .more_imp{
    z-index:9;
  }